<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p><strong>microposts</strong></p>
  <div>
    <% @user.microposts.each.with_index do |micropost, index| %>
    <p>
      <strong>No <%= index + 1 %>:</strong>
      <%= micropost.content %>
    </p>
    <% end %>
  </div>

</div>
